.container{
    padding-top: 50px;
    align-items: flex-start;
}
#heading{
    padding-left: 42%;
    padding-bottom: 20px;
    font-size: large;
    font-weight: bold;
    display: flex;
    text-decoration: underline;
}
#logout{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
}
#header{
    padding-right: 450px;
}